
<h1>{{ "tasks" | translate }}</h1>
<app-task-crud-links />

<app-task-crud-selector-crud-action [(crudAction)]="useGraphQL" />

<app-task-crud-selector-long-time-action
  [longTimeAction]="longTimeAction"
  (longTimeActionChange)="longTimeAction = $event"
/>

<ul class="list-group w-75 mt-3">
  <div *ngIf="tasks.length === 0" class="alert alert-info">
    {{ "noTasks" | translate }}
  </div>

  <li class="list-group-item" *ngFor="let task of tasks">
    <app-task-crud-card
      class="d-flex justify-content-between align-items-center"
      [task]="task"
      [taskService]="taskService"
      [graphQLService]="graphQLService"
      [restService]="restService"
      [longTimeAction]="longTimeAction"
      (updated)="loadTasks()"
      (deleted)="loadTasks()"
    />
  </li>
</ul>

<app-task-crud-add-form [taskService]="taskService" (taskAdded)="loadTasks()" />
